<script>
$(document).ready(function() {
  var scrollUp = function() {
    $("html, body").animate({ scrollTop: 0 }, 'fast');
    return false;
  };
  scrollUp();
});
</script>
<div class="container content-body">
  <div class="col-xs-12 col-sm-9">
    <h1>Edit Profile</h1>
  </div>
  <div class="col-xs-12 col-sm-3 text-right view-button-container">
    <p class="text-right"><%= link_to "View Profile", profile_path(@profile), class: "btn btn-primary" %></p>
  </div>

  <div id="profile-tabs" class="style-tabs col-xs-12">
    <ul class="ui-tabs">
      <li><a href="#basic-info">Basic Information</a></li>
      <li><a href="#projects">Projects</a></li>
      <li><a href="#education">Education</a></li>
      <li><a href="#experience">Experience</a></li>
      <li><a href="#skills">Skills</a></li>
    </ul>
    <div id="basic-info">
      <%= render "form" %>
    </div>
    <div id="projects">
      <%= render "/projects/display_projects" %>
      <%= render "/projects/form" %>
    </div>
    <div id="education">
      <%= render "/educations/display_education" %>
      <%= render "/educations/form" %>
    </div>
    <div id="experience">
      <%= render "/experiences/display_experiences" %>
      <%= render "/experiences/form" %>
    </div>
    <div id="skills">
      <%= render "/skills/display_skills" %>
      <%= render "/skills/form" %>
    </div>
  </div>
</div>

<script>
  $( "#profile-tabs" ).tabs().css({
     'min-height': '200px',
     'overflow': 'auto'
  });
</script>
