<div class="container">
  <h1 style="text-align: center">Welcome to the Admin Control Panel!</h1>

  <div id="pending_users" class="col-sm-6">
    <h2>Pending Users</h2>
    <div class="container">
      <% @pending_users.each do |user| %>
        <div id="<%= dom_id(user) %>" class="row">
          <div class="col-sm-6">
            <p><%= user.full_name %><br><%= user.email %></p>
          </div>
          <div class="col-sm-6 text-right">
            <%= link_to "Approve", user_path(id: user, user: {approved: true}), method: :patch, class: "btn btn-success"  %>
            <%= link_to "Delete", user_path(user), method: :delete, data: {confirm: "Are you sure you want to delete #{user.full_name}?"}, class: "btn btn-primary" %>
          </div>
        </div>
        <hr>
      <% end %>
    </div>
  </div>

  <div id="approved_users" class="col-sm-6">
    <h2>Approved Users</h2>
    <div class="container">
      <% @approved_users.each do |user| %>
        <div id="<%= dom_id(user) %>" class="row">
          <div class="col-sm-6">
            <p><%= user.full_name %><br><%= user.email %></p>
          </div>
          <div class="col-sm-6 text-right">
            <%= link_to "Delete", user_path(user), method: :delete, data: {confirm: "Are you sure you want to delete #{user.full_name}?"}, class: "btn btn-primary" %>
          </div>
        </div>
        <hr>
      <% end %>
    </div>
  </div>
</div>
