<div class="col-sm-12" id="profile-skills">
  <% @profile.skills.order(proficiency: :desc).each do |skill| %>
    <div class="row">
      <div class="col-sm-9 skills-progress">
        <span class="skills"><%= skill.name %></span>
        <span class="proficiency"><%= skill.proficiency %>/10</span>
        <div class="progress_bar" value ="<%= (skill.proficiency) * 10 %>"></div>
      </div>
      <div class="col-sm-3 text-right">
        <% if can? :manage, @profile %>
          <%= link_to "Edit", edit_profile_skill_path(@profile, skill), class: "btn btn-primary" %>
          <%= link_to "Delete", profile_skill_path(@profile, skill), method: :delete, data: {confirm: "Are you sure?"}, class: "btn
            btn-primary" %>
        <% end %>
      </div>
    </div>
    <hr>
  <% end %>
</div>
