<div class="hero-video">
	<div class="video-container">
		<div id="muteYouTubeVideoPlayer"></div>

<script async src="https://www.youtube.com/iframe_api"></script>
<script>
 function onYouTubeIframeAPIReady() {
  var player;
  player = new YT.Player('muteYouTubeVideoPlayer', {
    videoId: 'Bo7w0dSAJKY', // YouTube Video ID
    width: 560,               // Player width (in px)
    height: 316,              // Player height (in px)
    playerVars: {
      autoplay: 1,        // Auto-play the video on load
      controls: 0,				// Show pause/play buttons in player
			rel: 0,
      showinfo: 0,        // Hide the video title
      modestbranding: 1,  // Hide the Youtube Logo
      loop: 0,            // Run the video in a loop
      fs: 0,              // Hide the full screen button
      cc_load_policty: 0, // Hide closed captions
      iv_load_policy: 3,  // Hide the Video Annotations
      autohide: 1,
			hd: 1         // Hide video controls when playing
    },
    events: {
      onReady: function(e) {
        e.target.mute();
      }
    }
  });
 }


 // Written by @labnol
</script>
  </div>
</div>
<div id="main">
	<div class="hero-overlay"></div>
	<div class="container">
	  <div class="col-sm-6 text-center full-height">
	  	<%= link_to(raw("<button class='index-students filter-students'>All Students</button>"), profiles_path, class: "no-underline") %>
	  </div>
	  <div class="col-sm-6 text-center full-height">
	    <%= link_to(raw("<button class='index-students filter-students'>Available Students</button>"), profiles_path(available: true), class: "no-underline") %>
	  </div>
	</div>
 </div>

<div class="team">
  <div class="container">
    <div class="title row">
      <h2>About the Team</h2>
    </div>
    <div class="row">
      <div class="member col-xs-12 col-sm-4 col-md-3 wow fadeInLeft" data-wow-duration="2s">
        <%=image_tag("angelaji.png")%>
        <p class="name">Angela Ji</p>
        <p class="description">Full-Stack Web-Developer & Visual Effects Artist</p>
      </div>
      <div class="member col-xs-12 col-sm-4 col-md-3 wow fadeIn" data-wow-duration="2s">
        <%=image_tag("anuragsaroha.jpg")%>
        <p class="name">Anurag Saroha</p>
        <p class="description">Mechatronics Engineer With a Passion for Full-Stack Web-Development</p>
      </div>
      <div class="member col-xs-12 col-sm-4 col-md-3 wow fadeIn" data-wow-duration="2s">
				<%=image_tag("davidleehr.jpg")%>
        <p class="name">David Leehr</p>
        <p class="description">Full-Stack Web-Developer</p>
      </div>
      <div class="member col-xs-12 col-sm-4 col-md-3 wow fadeInRight" data-wow-duration="2s">
				<%=image_tag("lynhyangimlee.jpg")%>
        <p class="name">Lyn Lee</p>
        <p class="description">Full-Stack Web-Developer</p>
      </div>
   	</div>
    <div class="row">
      <div class="member col-xs-12 col-sm-4 col-md-3 wow fadeInLeft" data-wow-duration="2s">
				<%=image_tag("alextjokro.png")%>
        <p class="name">Alex Tjokro</p>
        <p class="description">Full-Stack Web-Developer</p>
      </div>
      <div class="member col-xs-12 col-sm-4 col-md-3 wow fadeIn" data-wow-duration="2s">
				<%=image_tag("gengli.jpg")%>
        <p class="name">Geng Li</p>
        <p class="description">Curious Full-Stack Developer</p>
      </div>
      <div class="member col-xs-12 col-sm-4 col-md-3 wow fadeIn" data-wow-duration="2s">
        <%=image_tag("christruong.jpg")%>
        <p class="name">Chris Truong</p>
        <p class="description">Hard-Working & Dedicated Full-Stack Developer</p>
      </div>
      <div class="member col-xs-12 col-sm-4 col-md-3 wow fadeInRight" data-wow-duration="2s">
				<%=image_tag("torriporter.jpg")%>
        <p class="name">Torri Porter</p>
        <p class="description">Full-Stack Web-Developer & Computer Science Student (University of British Columbia)</p>
      </div>
    </div>
  </div><!-- .container -->
</div><!-- .team -->
