<div class="col-sm-12">
  <% @profile.experiences.order(created_at: :desc).each do |experience| %>
    <div class="row">
      <div class="col-sm-9">
        <% if experience.image %>
          <p class="logo-thumb">
            <%= image_tag experience.image.url(:logo_thumb) %>
          </p>
        <% end %>
        <h3><%= experience.job_title %> at <%= link_to "#{experience.company_name}", experience.company_url, target: "_blank" %></h3>
        <p>From: <%= parse_date(experience.from_date) %> to: <%= parse_date(experience.to_date) %></p>
        <p><%= experience.description %></p>
        <% if can? :manage, @profile %>
          <%= link_to "Edit", edit_profile_experience_path(@profile, experience), class: "btn btn-primary" %>
          <%= link_to "Delete", profile_experience_path(@profile, experience), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-primary" %>
        <% end %>
      </div>
      <div class="col-sm-3 text-right">
        <p class="profile-actions"></p>
        <p class="profile-actions"><%= link_to "Visit Company Site", experience.company_url, target: "_blank", class: "btn btn-default" %></p>
      </div>
    </div>
    <hr>
  <% end %>
</div>
