<div class="col-sm-12">
  <% @profile.educations.order(created_at: :desc).each do |education| %>
    <div class="row">
      <div class="col-sm-9">
        <% if education.image %>
          <div class="logo-thumb">
            <%= image_tag education.image.url(:logo_thumb) %>
          </div>
        <% end %>
        <h3><%= education.school %></h3>
        <p><strong><%= education.degree %></strong></p>
        <p>From: <%= parse_date(education.from_date) %> to: <%= parse_date(education.to_date) %></p>
        <p><%= education.description %></p>
        <% if can? :manage, @profile %>
          <%= link_to "Edit", edit_profile_education_path(@profile, education), class: "btn btn-primary" %>
          <%= link_to "Delete", profile_education_path(@profile, education), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-primary" %>
        <% end %>
      </div>
      <div class="col-sm-3 text-right">
        <p class="profile-actions"><%= link_to "Visit School", education.school_url, target: "_blank", class: "btn btn-default" %></p>
      </div>
    </div>
    <hr>
  <% end %>
</div>
