<ul>
  <% @education.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
</ul>

<%= simple_form_for [@profile, @education], html: {multiple: true} do |f| %>
  <%= f.input :school %>
  <%= f.input :degree %>
  <%= f.input :description, as: :text %>
  <%= f.input :from_date, as: :date,
                            start_year: Date.today.year - 30 %>
  <%= f.input :to_date, as: :date,
                          start_year: Date.today.year - 30 %>
  <%= f.input :school_url %>
  <%= f.input :image, as: :file %>
  <div>
    <small>JPG, JPEG, GIF, PNG only.</small>
  </div><br />
  <%= f.submit class: "btn btn-primary" %>
<% end %>
