<!DOCTYPE html>
<html>
<head>
	<title>CodeCore Alumni</title>
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="http://s.mlcdn.co/animate.css">
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>

<body>
	<div class="no-padding primary-content">
	  <header>
			<nav class="navbar navbar-default navbar-fixed-top">
		    <div class="container">
					<!-- Dropdown buttons on right side-->
					<div class="collapse navbar-collapse" id="codecorehub-navbar">
			    	<ul class="nav navbar-nav navbar-right">
			    		<li>
				    		<div>
						  		<%= form_tag '/search', method: 'get', class: 'navbar-form navbar-left', placeholder: 'Search', role: 'search' do %>
										<%= text_field_tag :q, nil, placeholder: 'Search', class: 'form-control' %>
										<%= submit_tag 'Search', class: 'btn' %>
						  		<% end %>
								</div>
							</li>
							<!-- Dropdown button for students list -->
							<li>
				    		<div class="dropdown">
									<span class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">View Students<span class="caret"></span></span>
									<ul class="dropdown-menu">
					    			<li><%= link_to "All Students", profiles_path, class: "filter-students" %></li>
					    			<li role="separator" class="divider"></li>
					    			<li><%= link_to "Available Students", profiles_path(available: true), class: "filter-students" %></li>
									</ul>
				    		</div>
							</li>

							<!-- Create a dropdown button for all the user options -->
							<li>
				    		<div class="dropdown">
									<span class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
					    			<% if user_signed_in? && current_user_profile && current_user_profile.photo %>
											<%# unless current_user_profile.photo.nil? %>
											<%= image_tag current_user_profile.photo.url(:menu_icon), class: "user-icon"%>
											<!-- <%= image_tag current_user_profile.photo.url(:menu_icon)%> -->
										<%# end %>
					    			<% else %>
											Account
					    			<% end %>
					    			<span class="caret"></span>
					    		</span>
					    		<ul class="dropdown-menu">
										<li>
						    			<%# checks if user is signed in %>
						    			<% if user_signed_in? %>
												<li><%= link_to "User Settings", edit_user_path(current_user) %></li>
												<li><%= link_to "CodeChat", messages_path %></li>
												<li role="separator" class="divider"></li>

												<%# checks if user has already created a profile  %>
												<% if current_user.admin %>
							    				<li><%= link_to "Approve Users", users_path %></li>
							    				<li><%= link_to "Create Category", categories_path %></li>

							    				<% if current_user_profile %>
														<li><%= link_to "View Profile", profile_path(current_user_profile) %></li>
														<li role="separator" class="divider"></li>

							    				<% else %>
														<li><%= link_to "Create Profile", new_profile_path %></li>
							    				<% end %>
												<% else %>
							    				<% if current_user_profile %>
														<li><%= link_to "View Profile", profile_path(current_user_profile) %></li>
							    				<% else %>
													<li role="separator" class="divider"></li>
														<li><%= link_to "Create Profile", new_profile_path %></li>
							    				<% end %>
							    				<li role="separator" class="divider"></li>
												<% end %>
												<li><%= link_to "Log Out", sessions_path, method: :delete, data: {confirm: "Are you sure you want to logout?"} %></li>
						    			<% else %>
												<li><%= link_to "Log In", new_session_path %></li>
												<li role="separator" class="divider"></li>
												<li><%= link_to "Sign Up", new_user_path %></li>
						    			<% end %>
										</li>
					    		</ul>
				    		</div>
							</li> <!-- end of li for user options -->
			    	</ul> <!-- end of ul for right side navbar -->
					</div> <!-- end of div for dropdowns -->

					<!-- Brand and toggle get grouped for better mobile display  DO NOT REMOVE!!-->
					<ul class="nav navbar-nav navbar-left">
			  		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#codecorehub-navbar" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
			  		</button>
			  		<%# link_to "CodeCore Hub", root_path, class: "brand" %>
			  		<%= link_to image_tag('codecore-alumnies.png', class: "logo"), root_path  %>
					</ul>
				</div><!-- /.container-fluid -->
			</nav>
	  </header>

	  <div class="container-main-content">
			<div class="container-fluid no-padding cc-messages">
		    <% if notice %>
					<div class="alert alert-success alert-dismissible">
						<div class="container">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><%= notice %>
						</div>
					</div>
		    <% end %>
		    <% if alert %>
					<div class="alert alert-danger alert-dismissible">
						<div class="container">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><%= alert %>
						</div>
					</div>
		    <% end %>
			</div>

			<div class="container-fluid no-padding">
		    <%= yield %>
			</div>
	  </div>

	  <footer class="mastfoot" id="mastfoot">
			<section class="inner-section footer-bottom">
		    <section class="container">
					<div class="row">
			    	<article class="col-md-6 text-left">
							<ul class="footer-social">
				    		<li>
									<a href="http://twitter.com/CodeCoreYVR">
					    			<img alt="CodeCore" class="footer-icon" src="https://d3qliqblr8knlc.cloudfront.net/images/footer/twitter.png" title>
									</a>
				    		</li>
				    		<li>
									<a href="http://www.facebook.com/pages/Codecore-Bootcamp/1407977206086598">
					    			<img alt="CodeCore" class="footer-icon" src="https://d3qliqblr8knlc.cloudfront.net/images/footer/facebook.png" title>
									</a>
				    		</li>
				    		<li>
									<a href="http://linkedin.com/company/codecore-bootcamp">
					    			<img alt="CodeCore" class="footer-icon" src="https://d3qliqblr8knlc.cloudfront.net/images/footer/linkedin.png" title>
									</a>
				    		</li>
				    		<li>
									<a href="http://pinterest.com/codecoreyvr">
					    			<img alt="CodeCore" class="footer-icon" src="https://d3qliqblr8knlc.cloudfront.net/images/footer/pinterest.png" title>
									</a>
				    		</li>
				    		<li>
									<a href="http://instagram.com/codecoreyvr">
					    			<img alt="CodeCore" class="footer-icon" src="https://d3qliqblr8knlc.cloudfront.net/images/footer/instagram.png" title>
									</a>
				    		</li>
				    		<li>
									<a href="http://plus.google.com/116007489763415648305/about">
					    			<img alt="CodeCore" class="footer-icon" src="https://d3qliqblr8knlc.cloudfront.net/images/footer/googleplus.png" title>
									</a>
				    		</li>
				    		<li>
									<a href="http://github.com/orgs/CodeCoreYVR">
					    			<img alt="CodeCore" class="footer-icon" src="https://d3qliqblr8knlc.cloudfront.net/images/footer/github.png" title>
									</a>
				    		</li>
				    		<li>
									<a href="http://www.youtube.com/CodeCoreYVR">
					    			<img alt="CodeCore" class="footer-icon" src="https://d3qliqblr8knlc.cloudfront.net/images/footer/youtube.png" title>
									</a>
				    		</li>
							</ul>
			    	</article>

			    	<article class="col-md-6 cc-footer">
							<div class="credits">
				    		<p>142 W Hastings St. // Vancouver, BC // Canada // (604) 559-CODE (2633)
									<br>
									<a href="https://www.codecore.ca/policies">policies</a>
				    		</p>
							</div>
			    	</article>

			    	<article class="col-md-6 cc-footer">
							<a href="http://www.pctia.bc.ca/listings/accredited" target="_blank">
				    		<%= image_tag("PCTIA-accredited-Logo.JPG", class: "pctia" ) %>
							</a>
			    	</article>
					</div>
		    </section>
			</section>
	  </footer>

	</div>
</body>
</html>
